<div class="question">
  <div class="question-content">
    <div class="question-text text-lead">
      <%= question.text %>
    </div>

    <div class="question-info">
      <span class="question-date">
        <%= l(question.created_at, format: :short) %>
      </span>

      <% if question.author.present? %>
        <span class="question-author">
          <%= link_to '@' + question.author.username, user_path(question.author), class: 'question-author' %>
        </span>
      <% end %>
    </div>

    <% if question.answer.present? %>
      <div class="question-answer text-lead buffer-top">
        <%= question.answer %>
      </div>
    <% end %>
  </div>

  <% if question.user == current_user %>
    <% edit_icon = question.answer.blank? ? 'reply' : 'pencil' %>

    <div class="question-actions">
      <%= link_to fa_icon(edit_icon), edit_question_path(question) %>
      <%= link_to fa_icon('trash-o'), question_path(question),
                  method: :delete, data: {confirm: 'Are you sure?'} %>
    </div>
  <% end %>
</div>
