<!DOCTYPE html>
<html>
<head>
  <title>AskMe</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Pacifico">

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <%= favicon_link_tag asset_path('favicon.png') %>
</head>

<body>
<div class="header">
  <div class="container buffer-both-small">
    <div class="header-logo">
      <h1 class="header-title title-large"><%= link_to 'ask?me', root_path %></h1>
    </div>

    <div class="header-nav">
      <% if current_user %>
        <%= link_to "@#{current_user.username}", user_path(current_user), class: 'buffer-right-small' %>
        <%= link_to 'Sign out', session_path, data: { method: :delete }, class: 'button button-outline button-small' %>
      <% else %>
        <%= link_to 'Sign in', new_session_path, class: 'button button-outline button-small buffer-right-small' %>
        <%= link_to 'Sign up', new_user_path, class: 'button button-light button-small' %>
      <% end %>
    </div>
  </div>
</div>

<div class="content">
  <div class="container">
    <% if flash.any? %>
      <div class="content-wrapper buffer-bottom">
        <% flash.each do |name, message| %>
          <%= content_tag :div, message, class: "flash-#{name}" %>
        <% end %>
      </div>
    <% end %>

    <%= yield %>
  </div>
</div>

<div class="footer">
  <div class="container buffer-both-small">
    <%= link_to 'Source code on GitHub', 'https://github.com/just-ed/ask-me', target: '_blank' %>
  </div>
</div>
</body>
</html>
